$popins-light: "Popins-Light";
$popins-medium: "Poppins-Medium";
$popins-regular: "Poppins-Regular";
$popins-semibold: "Poppins-SemiBold";

@font-face {
  font-family: $popins-light;
  src: url("@/assets/fonts/Poppins/Poppins-Light.ttf");
}

@font-face {
  font-family: $popins-medium;
  src: url("@/assets/fonts/Poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: $popins-regular;
  src: url("@/assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: $popins-semibold;
  src: url("@/assets/fonts/Poppins/Poppins-SemiBold.ttf");
}